<div class="container wrapper contact-box-padding">
    <div class="row">
        <div class="col-6" style="text-align:justify;">
            <div class="contact-info">Please contact us for more information about how to get involved.</div>
            <div class="contact-info-text">
                    <i class="fa fa-map-marker fa-fw padding-top"></i> Chennai, India<br>
                    <i class="fa fa-phone fa-fw padding-top"></i> Phone: +00 151515<br>
                    <i class="fa fa-envelope fa-fw padding-top"></i> Email: mail@mail.com<br>
            </div>
        </div>
        <div class="col-6">
            <div class="contact">Contact Us</div>
            <div class="contact-info-text">Swing by for a cup of <i class="fa fa-coffee"></i>, or leave us a note:</div>
            <div class="row">
                <form target="_blank">
                    <div class="col-12">
                        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                    </div>
                    <div class="col-12">
                        <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                    </div>
                    <div class="col-12">
                        <textarea class="w3-input w3-border" row="3" placeholder="Message" required name="Message"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="message-btn" type="submit">
                            <i class="fa fa-paper-plane"></i> SEND MESSAGE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>