.wrapper{
    border-radius: 5px;
    box-shadow: 0 5px 5px;
    position: relative;
    text-align: center;
    display: block;
    background-color: white;
    box-shadow: 0 6px 17px rgba(0,0,0,0.07);
  }

.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 8px;
}

.contact {
    font-size: 24px;
    padding-left: 8px;
    font-weight: bold;
    text-align: left;
    width: 100%;
};

.contact-box-padding {
    padding: 1em;
};

.message-btn{
    display: block;
    border-radius: 44px;
    height: 44px;
    padding: 0 25px;
    border: none;
    background-color: #EF364C;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.32);
    color: white;
    font-weight: 600;
    margin-top: 20px;
    float: right;
    margin-right: 5%;
  }

.message-btn:hover{
    background-color: white;
    color: #EF364C;
}

.w3-border {
    border: 1px solid #ccc!important;
}

input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
    outline: -webkit-focus-ring-color auto 5px;
}

.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 90%;
}

.contact-info {
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:#ffcb34;
    font-weight: 400; 
    font-size:19px;
}

.contact-info-text {
    font-weight: 400; 
    font-size:19px; 
    padding-top:1em;
    padding-left: 8px;
    text-align: justify;
    width: 100%;
}

.padding-top {
    padding-top:1em;
}